.content {
	text-align: center;
	margin: 0 auto;
  display: grid;
  width: 1200px;
  height: 100vh;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
      grid-template-columns: 2fr 10fr;
      /* grid-gap: 10px; */
}

.wrappContent {
	grid-area: c;
    background-color: skyblue;
}

button {
    box-shadow: 3px 4px 0px 0px #899599;
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
	margin-bottom: 15px;
}
button:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
button:active {
	position:relative;
	top:1px;
}

        